/* PRE FOOTER SECTION STYLE */

.design-wave {
    margin-top: -9%;
    position: relative;
    z-index: -3;
}

.our-numbers {
    background-color: var(--bg-secondary);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;

    .number {
        box-sizing: content-box;
        width: calc(100% / 6);
        text-align: center;
        padding: 5rem 0;
        background-color: var(--bg-primary);

        h2 {
            color: var(--bg-text-secondary);
            width: 50%;
            margin: auto;
            font-weight: 600;
        }

        h1 {
            color: var(--bg-btn);
            padding-top: 0.5rem;
            font-size: 4rem;
        }

        h3 {
            text-transform: uppercase;
            color: var(--bg-text-tertiary);
            font-weight: 600;
        }

    }
}

.best-blogs {
    background-color: var(--bg-quaternary);
    padding: 5% 10%;



    .blogs-box {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 82%;
        gap: 3rem;
    }

    .best-blog {
        width: calc(100% / 3);
        background-color: var(--bg-primary);
        padding-bottom: 1.5rem;
        border-radius: 10px;

        h3,
        h4,
        span {
            padding: 1.5rem;
        }

        h4 {
            padding-top: 0;
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--bg-text-secondary);

        }

        h3 {
            text-transform: uppercase;
            color: var(--bg-text-tertiary);
            font-weight: 600;
            margin-bottom: 1rem;
            padding-bottom: 0;
        }

        span {
            color: var(--bg-text-tertiary);
        }

        img {
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    .bb-text {
        padding-top: 1rem;
        text-align: left;
        background-color: transparent;
        width: 40%;

        h3 {
            padding: 1rem 0 0;
        }

        h1 {
            color: var(--bg-text-secondary);
            font-size: 2.2rem;
            font-weight: 600;
            display: inline;
        }

        h1:nth-child(3) {
            color: var(--bg-btn);
            font-weight: 300;
            margin-bottom: 1rem;
        }

        ul {
            color: var(--bg-text-secondary);
            margin-top: 2.5rem;
            list-style: none;

            li {
                margin: 1.5rem 0 0 -2rem;
                font-weight: 600;
            }

            .fa {
                margin-right: 1rem;
            }
        }
    }
}

.newsletter {
    padding-top: 5%;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;

    .newsletter-head {
        width: 35%;
        margin: 0 auto 3rem;

        h1 {
            color: var(--bg-text-secondary);
            font-size: 2.2rem;
            font-weight: 600;
            display: inline;
        }

        h1:nth-child(2) {
            color: var(--bg-btn);
            font-weight: 300;
        }

        p {
            color: var(--bg-text-tertiary);
            font-size: 1.15rem;
            margin-top: 1rem;
        }

    }

    .input-box {
        width: 100%;

        button {
            font-size: 1rem;
            background-color: var(--bg-btn);
            border: none;
            color: var(--bg-primary);
            padding: 16px 2rem;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        & input {
            padding: 1rem 1.5rem;
            width: 24%;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: var(--bg-input);
            font-size: 1rem;
        }
    }

    .shape {
        position: absolute;
    }

    .rombo-dashed {
        right: 18%;
        top: 20%;
    }

    .shape.circle {
        right: 18%;
        bottom: 0;
    }

    .fa-circle {
        font-size: 4rem;
        left: 15%;
        bottom: 10%;
        color: var(--bg-text-ordinary);
    }
}