/* TOP-LEARNERS STYLE SECTION */
.topLearners {
    text-align: center;
    margin-top: -0.5rem;
    background-color: var(--bg-secondary);

    .topLearners-head {
        padding-top: 2rem;

        h5 {
            color: var(--bg-text-ordinary);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.25rem;
        }

        h1 {
            color: var(--bg-text-secondary);
            font-size: 2.2rem;
            font-weight: 600;
            display: inline;
        }

        h1:nth-child(3) {
            color: var(--bg-btn);
            font-weight: 300;
        }
    }

    .topLearners-reviews {
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .review {
            flex-grow: 1;
            margin-top: 2rem;
            padding: 2rem;
            text-align: left;
            background-color: var(--bg-primary);

            >h4 {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 1rem;
                color: var(--bg-text-secondary);
            }

            p {
                color: var(--bg-text-primary)
            }

            .reviewed-person {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 100px;
                    border-radius: 100%;
                }

                h4 {
                    font-size: 1.25rem;
                    margin-bottom: 0.75rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                aside {
                    color: var(--bg-text-tertiary);
                }
            }
        }
    }

    .re-lx,
    .re-rx {
        opacity: 0.3;
        scale: 0.95;
    }

    .re-lx:hover,
    .re-rx:hover {
        opacity: 1;
        scale: 1;
    }

    .re-lx:hover~.re-middle,
    .re-rx:hover~.re-middle {
        opacity: 0.3;
        scale: 0.95;
    }

}

.dots {
    font-size: 4.5rem;
    letter-spacing: 1rem;
    color: var(--bg-text-ordinary);

    span:first-child {
        color: var(--bg-text-secondary);
        font-size: 6rem;
    }
}

.get-started {
    margin: 0 auto;
    margin-top: 3rem;
    width: 65%;
    position: relative;
    padding-bottom: 3%;

    h2 {
        font-weight: 600;
        display: inline;
    }

    h2:nth-child(2) {
        color: var(--bg-btn);
        font-weight: 400;
    }

    h1 {
        font-weight: 600;
        font-size: 2rem;
    }

    button {
        margin: 2rem 0 2rem;
        padding: 1rem 5rem;
        color: var(--bg-primary);
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
        word-spacing: 2px;
        background-color: var(--bg-btn);
        cursor: pointer;
    }

    button:hover {
        background-color: var(--bg-text-secondary);
        scale: 1.05;
    }

    img,
    .fa-circle {
        position: absolute;
    }

    .stripes-shape {
        left: 2rem;
    }

    .circle-shape {
        right: 0;
    }

    .fa-circle {
        font-size: 4rem;
        color: var(--bg-quaternary);
        opacity: 0.6;
        left: 1.5rem;
        top: 1rem;
    }

}