:root {
  --bg-primary: #ffffff;
  --bg-btn: #20ad96;
  --bg-text-secondary: #3f3a64;
  --bg-secondary: #f5f7fa;
  --bg-tertiary: #f8f8f8;
  --bg-quaternary: #f5f1ed;
  --bg-text-primary: #696969;
  --bg-text-tertiary: #8c89a2;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif
}

.main-header {
  display: flex;
  padding: 0.5rem 15% 0.25rem;
  gap: 1rem;
  font-size: 1.15rem;
  line-height: 5;
  color: #696969;
  box-shadow: 0px 15px 10px -15px #8c89a267;

  .logo {
    margin: 0.5rem 3rem 0 0;

    img {
      width: 175px;
    }

  }

  >div {
    flex-grow: 1;
  }

  & nav {
    flex-grow: 2;

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;

      .fa-solid {
        font-size: 0.75rem;
      }
    }
  }

  .input-box {
    width: 300px;
    margin-left: -4rem;

    & input,
    .fa-search {
      font-size: 1.15rem;
      background-color: var(--bg-secondary);
      border: none;
    }

    & input {
      padding: 1rem 1.5rem;
    }

    .fa-search {
      padding: 18px;
    }

  }
}

.jumbo-top {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;
}

.quick-access {
  position: absolute;
  right: 0;
  top: 15%;
  background-color: var(--bg-tertiary);

  & ul {
    list-style: none;
  }
}

.FeOnCo {
  text-align: center;
}

.FeOnCo-courses {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;

  .course {
    width: 50%;
    flex-grow: 1;
    margin: 1rem 0rem;
  }
}

.companionship {
  .companionship-head {
    text-align: center;
  }

  .companionship-benefits {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;

    .benefits {
      flex-grow: 1;
    }
  }

  .companionship-main {
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.topLearners {
  text-align: center;

  .topLearners-reviews {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .review {
      flex-grow: 1;
      margin-top: 2rem;
    }

    .re-lx,
    .re-rx {
      opacity: 0.5;
    }
  }

  .get-started {
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;
  }
}

.our-numbers {
  padding-top: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  .number {
    width: calc(100% / 6);
  }
}
.best-blogs{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 5% 10%;

  .best-blog{
    width: calc( 100% / 3 );
  }
}
.subscribe{
  padding-top: 3rem;
  text-align: center;
  .subscribe-head{
    width: 30%;
    margin: 0 auto;
  }
}





/* #REGION DEBUG SECTION */
/* .debug .main-header {
  height: 87px;
  background-color: rgb(201, 132, 222);
}

.debug .main-header div,
.debug nav {
  background-color: gold;
  height: 100%;
} */

.debug .jumbotron {
  height: 845px;
  background-color: rgb(121, 183, 121);
}

.debug .jumbo-text,
.debug .jumbo-image {
  height: 630px;
  background-color: yellow;
}

.debug .jumbo-text {
  width: 25%;
}

.debug .jumbo-image {
  width: 30%;
}

.debug .jumbo-sponsor {
  background-color: grey;
  height: 143px;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.debug .sponsor-img {
  background-color: red;
  height: 100%;
  flex-grow: 1;
}

.debug .FeOnCo {
  background-color: salmon;
  height: 1122px;
}

.debug .FeOnCo-head {
  background-color: #c80084;
  height: 204px;
}

.debug .FeOnCo-courses {
  height: 70%;
  padding: 1rem;
}

.debug .course {
  background-color: rgb(245, 183, 176);
}

.debug .companionship {
  background-color: skyblue;
  height: 1338px;
}

.debug .companionship-head {
  background-color: paleturquoise;
  height: 204px;
}

.debug .companionship-benefits {
  height: 384px;
}

.debug .benefits {
  background-color: #1326cc;
}

.debug .companionship-main {
  background-color: blueviolet;
  height: 593px;
}

.debug .topLearners {
  background-color: palegreen;
  height: 1038px;
}

.debug .topLearners-head {
  background-color: green;
  height: 229px;
}

.debug .topLearners-reviews {
  height: 400px;
}

.debug .review {
  background-color: lightgray;
  height: 100%;
}

.debug .get-started {
  background-color: paleturquoise;
  height: 274px;
}

.debug .our-numbers {
  background-color: yellow;
  height: 410px;
}

.debug .number {
  height: 291px;
  background-color: gold
}
.debug .best-blogs{
  background-color: rebeccapurple;
  height: 653px;
}
.debug .best-blogs div{
  background-color: white;
  height: 427px;
}
.debug .subscribe{
  background-color: palevioletred;
  height: 427px;
}
.debug .subscribe-head{
  background-color: red;
  height: 200px;
}










/* #REGION-END DEBUG SECTION */